﻿@model ToDoApp.Data.Entities.Note
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control col-md-10" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control col-md-10" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsDone, new { @class = "control-label col-md-2" })
            @Html.CheckBoxFor(model => model.IsDone, new { @class = "form-control col-md-10" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control col-md-10" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default " />
                |
                @Html.ActionLink("Cancel", "Index", "Notes")
            </div>
        </div>
    </div>
}
